<div id="profile-card" class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="<%= image_path technician.background_pic %>" alt="technician bg">
  </div>
  <div class="card-content">
    <img src="<%= image_path technician.profile_pic %>" alt="" class="circle responsive-img activator card-profile-image cyan lighten-1 padding-2">

    <h5 class="card-title activator grey-text text-darken-4"><%= link_to technician.name, technician_path(technician) %></h5>
  </div>
</div>