<% if notice %>
    <div class="alert">
      <div id="card-alert" class="card cyan">
        <div class="card-content white-text">
          <p><%= notice %></p>
        </div>
      </div>
    </div>
<% elsif alert %>
    <div class="alert">
      <div id="card-alert" class="card red">
        <div class="card-content white-text">
          <p><%= alert %></p>
        </div>
      </div>
    </div>
<% end %>