<!--<a data-method="delete" id="submit_link_like.id" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">thumb_down</i></a>-->

<%= link_to(content_tag(:i, "thumb_down", class:"material-icons")+"", like_path(like), method: :delete, class: 'btn-floating btn-large waves-effect waves-light red') %>